.cart-msg {
    display: none;
}

.display-cart-msg {
    display: block;
    position: absolute;
    right: 40px;
    top: 75px;
    color: orange;
    background-color: #1b2b42;
}
.remove-cart-msg {
    display: none;
}

.display-remove-cart-msg {
    display: block;
    position: absolute;
    right: 40px;
    top: 75px;
    color: orange;
    background-color: #1b2b42;
}