.products-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-body-header {
  font-size: 24px;
  padding: 20px;
  margin: 20px;
}

.products-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-info-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  text-transform: capitalize;
}

.product-img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.product-description {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
}

.product-action-btns {
  display: flex;
  justify-content: space-evenly;
}

.cart-btn {
  color: white;
  text-align: center;
  margin: 10px;
  border: 1px solid #6f8ff6;
  border-radius: 3px;
  background-color: #6f8ff6;
}

.edit-btn{
  text-align: center;
  border: 1px solid #6f8ff6;
  border-radius: 3px;
  width: 40%;
  color: white;
  background-color: #6f8ff6;
}

.delete-btn{
  text-align: center;
  border: 1px solid #6f8ff6;
  border-radius: 3px;
  width: 40%;
  color: white;
  background-color: #6f8ff6;
}