.search-results-body {
  /* justify-content: center; */
  text-align: center;
  flex-wrap: wrap;
  margin: 150px;
}

.no-search-results {
  margin-bottom: 20px;
}

.search-results-list {
  display: flex;
  justify-content: center;
}

.product-search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.back-to-home-link {
  color: white;
  border: 1px solid #1b2b42;
  padding: 5px;
  border-radius: 5px;
  background-color: #1b2b42;
}